<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<nav id="nav">
    <%if(kvi == true){%>
        <p>okey</p>
    <%}%>
    <ul>
        <%for(let i = 0; i < objekti.length; i++ ){%>
        <li><button onclick="kviz(<%=objekti[i].kviz_id%>)"><%=objekti[i].naziv%></button></li>
        <%}%>
    </ul>
</nav>
<div id="content">

</div>
<script>
    function kviz(id) {
        $.ajax({
            url: 'kviz/'+id,
            method: 'POST'
        }).done(function(result){
            location.reload();
        });
    }


</script>
</body>
</html>
