<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<br>
<br>
<form action="/users" method="post">
    <div class="row">
        <div class = "col-sm-4"></div>
    <div class="form-group col-sm-4">
        <label for="formGroupExampleInput">Nickname</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nickname" name="nickname">
        <label class="mr-sm-2" for="inlineFormCustomSelect">Preferences</label>
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="pitanje">
            <option selected>Choose...</option>
            <option value="Pitanje">Pitanje</option>
            <option value="Kviz">Kviz</option>
        </select>
        <label for="formGroupExampleInput">Code</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="1234" name="code">
        <button type="submit" class="btn btn-primary">GO</button>
    </div>
        <div class = "col-sm-4"></div>
    </div>
</form>
<br>

<script>


</script>
</body>


</html>
